.row-header {
    margin:  0px auto;
    padding: 0px auto;
}

.row-content {
    border-bottom: 1px ridge lightgray;
    margin:        0px auto;
    min-height:    400px;
    padding:       50px 0px 50px 0px;
}

.footer {
    background-color: #D1C4E9;
    margin:           0px auto;
    padding:          20px 0px 20px 0px;
}

.jumbotron {
    background: #9575CD;
    color:      floralwhite;
    margin:     0px auto;
    padding:    70px 30px 70px 30px;
}

.address {
    color:     #0F0F0F;
    font-size: 80%;
    margin:    0px;
}

/* body {
    padding: 50px 0px 0px 0px;
    z-index: 0;
} */

.navbar-dark {
    background-color: #512DA8;
}
